<!-- ko foreach: getRegion('before_details') -->
 
<!-- ko template: getTemplate() --><!-- /ko -->
 
<!-- /ko -->
 
<div class="product-item-details">
 
    <div class="product-item-inner">
 
        <div class="product-item-name-block">
            
            <!-- ko if: (getCustomValue($parent))-->
 
            <span class="product-item-pcb-master" data-bind="text: getCustomValue($parent)"></span>
 
            <!-- /ko -->

            <strong class="product-item-name" data-bind="text: $parent.name"></strong>
 
        </div>
        <div class="details-qty">
 
            <span class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></span>

            <span class="value" data-bind="text: $parent.qty"></span>

        </div>
 
        <!-- ko foreach: getRegion('after_details') -->
 
        <!-- ko template: getTemplate() --><!-- /ko -->
 
        <!-- /ko -->
 
    </div>